#latest update 25.9.2023
attrs==23.1.0 # update from 22.2.0
beautifulsoup4==4.12.2 # update from 4.11.1
certifi==2023.7.22 # update from 2022.12.7
charset-normalizer==3.2.0 # update from 2.1.1
cloudflare==2.12.4 #update to 2.12.4 from 2.11.1
idna==3.4 # no udate
jsonlines==4.0.0 # update from 3.1.0
PyYAML==6.0.1 # update from 6.0
requests==2.31.0 # update from 2.28.1
soupsieve==2.5 # update from 2.3.2.post1
urllib3==2.0.5 # update from 1.26.13
